@import "tailwindcss";

@font-face {
  font-family: "font-1";
  src: 
    url("./fonts/fontsource-converted/surgena.woff2") format("woff2"),
    url("./fonts/font-1.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./fonts/lemon_milk_woff2/LEMONMILK-Bold.woff2") format("woff2"),
}

@font-face {
  font-family: "lemon-milk-light";
  src: url("./fonts/lemon_milk_woff2/LEMONMILK-Light.woff2") format("woff2")
}

@font-face {
  font-family: "thunder-font";
  src: url("./fonts/thunder-font-woff2/Thunder-BoldLC.woff2") format("woff2")
}

.heroText{
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

.sensei{
  -webkit-text-stroke: 1px #F8F2F0;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

@keyframes floatSlow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-floatSlow {
  animation: floatSlow 8s ease-in-out infinite;
}